
  
  
  table {
    table-layout: fixed; /* Фиксация ширины таблицы */
    width: 192px; /* Общая ширина таблицы */
    float: left; /* Плавающее позиционирование */
    margin: 5px 5px 0 0; /* Отступы */
    height: 182px; /* Высота таблицы */
    border: 5px solid #000; /* Рамка таблицы */
    background-color: #f4f4f4; /* Пример фонового цвета */
  }

    td {
        width: 180px; /* Ширина ячеек */
        overflow: hidden; /* Скрываем переполнение */
        white-space: ; /* Запрещаем перенос текста */
        text-overflow: ellipsis; /* Многоточие при переполнении */
        min-width: 200px; /* Минимальная ширина */
        max-width: 200px; /* Максимальная ширина */
    }
	
	
	
	